/*Website Styles*/
* {
  font-size: 110%;
}
body {
  background-color:#ebbb23 ;
  color: SaddleBrown;
  font-family:'Open Sans Condensed', sans serif;
  font size: 14px;
  font-weight: 750;
}

h1 {
  color: SaddleBrown;
  font-size: 50px;
  font-weight: 850;
  font-style: italic;
  text-align: center;
}
h2 {
  font-size: 34px;
  font-weight: 750;
  line-height: 2;
}
h3 {
  font-size: 34px;
  font-weight: 750;
  line-height: 3;
}
h4 {
  font-size: 34px;
  font-weight: 750;
  line-height: 3;
}
h2 {
  font-size: 34px;
  font-weight: 750;
  line-height: 3;
}
