/*Website Styles*/
* {
  font-size: 110%;
}
body {
  background-color:#ebbb23 ;
  color: SaddleBrown;
  font-family:'Open Sans Condensed', sans serif;
  font size: 14px;
  font-weight: 750;
}

h1 {
  color: SaddleBrown;
  font-size: 40px;
  font-weight: 750;
  h2 {
    font-size: 28px;
    font-weight: 750;
}
h2 {
  font-size: 32px;
  font-weight: 650;
}
h3 {
  font-size: 22px;
  font-weight: 750;
}
