  /*Website Styles*/
  * {
  font-size: 110%;
  margin:0;
  line-height: 2;
  background-color: #ebbb23;
  color: Maroon;
  font-family:'Open Sans Condensed', sans serif;
  border: 50px Maroon;
  }
  body {
  /* background-image: url(../Image/pexels-andrew-wilus-5516748 (1).jpg); */
  background-color: #ebbb23;
  color: Maroon;
  font-family:'Open Sans Condensed', sans serif;
  font size: 14px;
  font-weight: 750;
  margin: 50px;
  }
  .title {
  font-size: 70px;
  color: maroon;
  text-decoration: underline;
  }
  h1 {
  color: Maroon;
  font-size: 65px;
  font-weight: 850;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
  padding: 25px;
  border: 5px solid maroon;
  background-color: khaki
  }
  /* .banner {
  height: 350px;
  background-image: url(Images/banner.jpg);
  } */
  p {
  margin: 15px 0;
  padding: 30px;
  }
  header h1 {
  text-align: center;
  padding: 30px;
  }
  h2 {
  font-size: 34px;
  font-weight: 750;
  font-style: italic;
  line-height: 3;
  text-align: left;
  margin-bottom: 20px;
  padding:25px;
  }
  p {
  margin: 15px 0;
  padding: 25px;
  }
  ul{
  margin: 15px 0;
  }
  header h2 {
  text-align: left;
  }
  h3 {
  font-size: 34px;
  font-weight: 750;
  line-height: 3;
  margin-bottom: 20px;
  padding: 25px;
  }

  img {
  width:  250px;
  height: 250px;
  }
  p {
  margin: 15px 0;
  padding: 25px;
  }
  header h3 {
  text-align: left;
  }
  h4 {
  font-size: 34px;
  font-weight: 750;
  line-height: 3;
  padding: 25px;
  }
  img{
  width:  300px;
  height: 400px;
  }
  p {
  margin: 15px 0;
  }
  h2 {
  font-size: 30px;
  font-weight: 750;
  text-align: left;
  line-height: 3;
  padding: 25px;
  }
  ul{
  margin: 15px 0;
  }
  a {
  color: khaki;
  text-decoration: none;
  }
  a:hover {
  text-decoration: underline;
  .title {
  font-size: 48px;
  text-decoration: underline;
  }
